@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../font/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(../font/MaterialIcons-Regular.woff2) format('woff2'),
      url(../font/MaterialIcons-Regular.woff) format('woff'),
      url(../font/MaterialIcons-Regular.ttf) format('truetype');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

/* 共通 */
html {
  font-size: 62.5%;
  font-family: 'Noto Sans JP', sans-serif;
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  color: #222;
  font-family: 'Noto Sans JP', sans-serif, 'Noto Serif JP', serif;
  font-size: 1.5rem;
  font-weight: 300;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  letter-spacing: 0.025em;
  overflow: hidden;
  margin: 0 auto;
}

.liked {
  color: pink;
}

/* hedder */
.navbar {
  height: 50px;
}

.navbar-brand {
  font-size: 2rem;
}

.create_link {
  color: black;
  font-size: 1.5rem;
  margin-left: 3rem;
}

